# Git
.git
.gitignore

# Environment
.env
.env.local

# Node
node_modules
npm-debug.log
dist

# Go
*.exe
*.test
*.out

# IDE
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite

# ChromaDB
chroma_db

